
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

:root {
  /**
   * Colour palette
   */
  --c-primary: #1F3F96;
  --c-title: #000000;
  --c-text: #5E6163;
  --c-footer: #668FD1;
  --c-link: #33B5ED;
  --c-buttonactive: #949494;
  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: 'Open Sans', Verdana, sans-serif;
  --t-banners: 'Kaushan Script';
  --t-gsmprimary: 'Open Sans', Tahoma, Verdana, sans-serif;
  --t-gsmbanners: 'Kaushan Script';

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
}


